<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>順列／組み合わせ選択アプリ</title>
    <link href="style.css" rel="stylesheet" />
  </head>
    
  <body>
      
    <header>
        <h1 class="title">タイトル</h1>
    </header>
      
      
    <p>
      パターン選択<br />
      <select v-model="selectedID" @change="setForm">
        <option value="99" selected disabled>選んでください</option>
        <option v-for="(p, i) in pattern" :value="i">{{p.name}}</option>
      </select>
    </p>

    <p v-if="showForm">
      数値入力<br />
      <input id="" v-model="n" />
      {{unit}} から
      <input id="" v-model="k" />
      {{unit}} 選ぶ
        
     <button id="showFormula" @click="showFormula">計算式を表示</button>
    </p>

    <p v-if="error.flag">
      {{error.msg}}
      <button @click="error.flag = false">OK</button>
    </p>
      
    <p v-if="showResult"><sub>{{n}}</sub>{{c_p}}<sub>{{k}}</sub>
    </p>
    
      <p>
      <button id="hinnto" @click="hinnto">ヒント</button>
      </p>
      
      <p v-if="hinnto">
        nPr＝n(n-1)(n-2)・・・(n-r+1)
      </p>
      <p>
        nCr＝{n(n-1)(n-2)・・・(n-r+1)}/r(r-1)(r-2)・・・3・2・1
      </p>
      
      
    <script src="https://unpkg.com/petite-vue"></script>
    <script src="script.js"></script>
  </body>
</html>
